<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.etrack.test">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".menulevel.blue.BlueLevelSelectTheSentence"></activity>
        <activity android:name=".menulevel.green.GreenFillTheBlanks" />
        <activity android:name=".menulevel.pink.PinkShortLevels" />
        <activity
            android:name=".menulevel.yellow.SelectCorrectPicture"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".LevelOneChooseTheCorrect" />
        <activity
            android:name=".StartScreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_start_screen"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".MenuScreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_start_screen"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".menulevel.yellow.YellowLevel"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_start_screen"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".LevelTwoScreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_start_screen"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".LevelThreeScreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_start_screen"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".LevelFourScreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_start_screen"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".menulevel.green.GreenLevel"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_start_screen"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".menulevel.blue.BlueLevel"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_start_screen"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".menulevel.pink.PinkLevel"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_start_screen"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".Matching"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_main_screen"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".Opposite"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_main_screen" />
        <activity android:name=".MainScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>